<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FuelPrice USA</title>
        <link rel="stylesheet" href="/stylesheets/styles.css" />
    </head>
    <body>
        <header class="container">
            <nav>
                <a id="home-link" href="/">
                    <h1 id="home-text">FuelPrice USA</h1>
                </a>
                <ul>
                    <li><a href="/states">All States</a></li>
                    <li><a href="/fav/10">My Favorites</a></li>
                    <li><a href="/users/edit">My Profile</a></li>
                </ul>
            </nav>
        </header>
        <main class="container">
            <h2 class="content-title">All States</h2>
            <div class="sort-options">
                <form action="/states" method="GET">
                    <label for="sort">Sort by:</label>
                    <select name="sort" id="sort">
                        <option value="a-z" <% if (sort === 'a-z') { %>selected<% } %>>A - Z</option>
                        <option value="z-a" <% if (sort === 'z-a') { %>selected<% } %>>Z - A</option>
                        <option value="asc" <% if (sort === 'asc') { %>selected<% } %>>Low - High</option>
                        <option value="desc" <% if (sort === 'desc') { %>selected<% } %>>High - Low</option>
                    </select>
                    <button type="submit">Sort</button>
                </form>
            </div>
            <div class="state-container">
                <% states.forEach(state => { %>
                <div class="state-tile">
                    <h2 class="state-name"><%= state.name %></h2>
                    <div class="fuel-selection">
                        <div class="fuel-option">
                            <h3 class="grade-name">Regular</h3>
                            <div class="price" class="grade-price">
                                $<%= state.gasoline %>
                            </div>
                            <button class="grade-button">87</button>
                        </div>
                        <div class="fuel-option">
                            <h3 class="grade-name">Mid-Grade</h3>
                            <div class="price" class="grade-price">
                                $<%= state.midGrade %>
                            </div>
                            <button class="grade-button">89</button>
                        </div>
                        <div class="fuel-option">
                            <h3 class="grade-name">Premium</h3>
                            <div class="price" class="grade-price">
                                $<%= state.premium %>
                            </div>
                            <button class="grade-button">93</button>
                        </div>
                        <div class="fuel-option">
                            <h3 class="grade-name">Diesel</h3>
                            <div class="price" class="grade-price">
                                $<%= state.diesel %>
                            </div>
                            <button class="grade-button">Diesel</button>
                        </div>
                    </div>
                    <% let foundFavorite = false; for (let i = 0; i <
                    userFavStates.length; i++) { %> <% if (state.name ===
                    userFavStates[i].name) { foundFavorite = true;%>
                    <form
                        action="/fav/<%= state.favorite_id %>?_method=DELETE"
                        method="POST"
                    >
                        <button type="submit">Remove</button>
                    </form>
                    <% }%> <% } %> <% if (!foundFavorite) { %>
                    <form action="/fav" method="POST">
                        <input
                            type="hidden"
                            name="user_email"
                            value="user@gmail.com"
                        />
                        <input type="hidden" name="user_id" value="10" />
                        <input
                            type="hidden"
                            name="state_name"
                            value="<%= state.name %>"
                        />
                        <button type="submit">Add to Favorites</button>
                    </form>
                    <% } %>
                </div>
                <% }) %>
            </div>
        </main>
    </body>
</html>
